@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #1c1c22;
}

.dark {
  --bg-color: #1c1c22;
  --text-color: white;
}

body {
  font-family: "Fira Code", monospace;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 10rem;
}
